*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: lightgray;
    transition: color 0.3s linear;
}

nav ul li a:hover {
    color: #fff;
}

.hire-btn {
    text-decoration: none;
    color: aqua;
    padding: 5px 10px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 2px 2px 7px lightgray;
    transition: all 0.3s linear;
}

.hire-btn:hover {
    color: #000;
    background-color: lightgray;
    box-shadow: 3px 3px 9px lightgray;
}

.result-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.result {
    color: #fff;
}

/* Mouse pointer tracker code  */

.mouse-tracker {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    z-index: 1000;
}

body:has(a:hover) .mouse-tracker {
    background-color: rgb(46, 211, 156);
    box-shadow: 0 0 20px rgb(51, 206, 154);
}